name: Generate and Deploy Doxygen Docs


on:
push:
branches:
- main
- master




permissions:
contents: write # necessario per creare/pushare il branch gh-pages




jobs:
build:
runs-on: ubuntu-latest

steps:
  - name: Checkout repository
    uses: actions/checkout@v4
    with:
      fetch-depth: 0  # serve per poter fare push verso gh-pages

  - name: Install Doxygen
    run: sudo apt-get update && sudo apt-get install -y doxygen graphviz

  - name: Generate Doxygen documentation
    run: doxygen Doxyfile

  - name: Deploy to GitHub Pages
    uses: peaceiris/actions-gh-pages@v3
    with:
      github_token: ${{ secrets.GITHUB_TOKEN }}
      publish_branch: gh-pages
      publish_dir: ./docs/html
